body{
    cursor: crosshair;
    user-select: none;
    min-height: 100vh;
    overflow: hidden;
    background-image: url(./asset/backgroundLac.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    font-family: 'Arima', 'cursive';
    font-family: 'Poppins', sans-serif;
}

.image{
    width: 20%;
    position: absolute;
    animation: anim 8s forwards;
  }
   
  .animated {
    
    animation: anim 8s forwards;
  }
    
  @keyframes anim{
      to {
          top: -250px;
          left: var(--left)
      }
  }

h1 {
    font-family: inherit;
    font-weight: 600;
    background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%);
    padding: 7px 20px;
    height: auto;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 4px;
    border: none;
    font-size: 20px;
  }
  
h1:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
h3{
    text-align: center;
    margin-top: 70px;
    font-size: 10rem;
    color: rgb(16, 15, 15);
    text-shadow: 0 0 3px white;
}
.timing{
    text-align: center;
    font-size: 8rem;
    color: grey;
    display: flex;
    flex-direction: column;
    
}
.refresh{
    width: 150px;
    margin: auto;
}
#timer{
    color: rgb(16, 15, 15);
}

a{
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid ;
}
.nav{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}
.accueil {
    font-family: inherit;
    font-weight: 600;
    background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%);
    padding: 7px 18px;
    height: auto;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 4px;
    border: none;
  }
  
.accueil:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
.song{
    display: flex;
    justify-content: left;
    margin-left: 40px;
    
}
button{
    margin: 10px;
}
/* button{
    width: fit-content;
    margin-left: 43.4%;
    position: absolute;
} */

@media only screen and (max-width: 700px) {
    h1{
        display: none;
    }
    body{
        width: 100%;
        overflow: hidden;
        background-repeat: no-repeat;
    }
    .timing{
        margin-top: -70px;
        font-size: 70px;
        justify-content: center;
        align-items: center;
        
    }
    .refresh{
        width: 100px;
        bottom: 10px;
        position: fixed;
    }
    .song{
        display: flex;
        justify-content: left;
    }
     button{
        margin: 10px;
        padding: 4px;
    } 
    h3{
        font-size: 90px;
    }
    image{
        width: 10%;
    }
    .accueil{
        margin-top: 5px;
    }


};